<footer id="footer">
  <div class="footer-left">
    <a href="imprint.njk" target="_blank">Impressum</a>
  </div>
  <div class="footer-center">
    <ul class="connections">
      <li><a class="connect-link facebook no-indication" href="https://www.facebook.com/reneebarbasel" aria-label="Facebook"></a></li>
      <li><a class="connect-link instagram no-indication" href="https://www.instagram.com/renee_bar" aria-label="Instagram"></a></li>
    </ul>
  </div>
  <div class="footer-right"></div>
</footer>
