<!doctype html>
<html lang="en">
  <head>
    <title>{{ homepage.html_title }}</title>
    <meta name="description" content="{{ homepage.html_description }}">
    <meta name="keywords" content="{{ homepage.html_keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/main.less">

    <!-- Google tag (gtag.js) for Google Analytics (GA4) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ homepage.google_tag_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ homepage.google_tag_id }}');
    </script>
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
