{% extends "html/layout.njk" %}

{% block body %}
<div class="rnw-widget-container"></div>
<style>
.rnw-widget-container {
    width: 100%;
    max-width: 37.5rem;
    margin: 0 auto;
}
</style>
<script src="https://tamaro.raisenow.com/renec-8dcd/latest/widget.js"></script>
<script>
    window.rnw.tamaro.runWidget('.rnw-widget-container', {language: 'en'})
</script>
{% endblock %}
